In [10]:
import pylab as pl
import pandas as pd
import subprocess
import sys

import numpy as np
%pylab inline

import os

Populating the interactive namespace from numpy and matplotlib

In [8]:
HOST="shell.cusp.nyu.edu"

In [ ]:
COMMAND="uname -a"

In [2]:
df=pd.read_csv('https://data.cityofnewyork.us/OData.svc/825b-niea')

In [4]:
df

                 <?xml version='1.0' encoding='UTF-8'?>
0     <feed xmlns="http://www.w3.org/2005/Atom" xml:...
1                                               <entry>
2     <id>https://data.cityofnewyork.us/OData.svc/82...
3                 <d:__id m:type="Edm.Int64">1</d:__id>
4                                  <d:grade>3</d:grade>
5                                 <d:year>2006</d:year>
6                        <d:category>Asian</d:category>
7     <d:number_tested m:type="Edm.Decimal">9768</d:...
8     <d:mean_scale_score m:type="Edm.Decimal">700</...
9     <d:level_1_1 m:type="Edm.Decimal">243</d:level...
10    <d:level_1_2 m:type="Edm.Decimal">0.025</d:lev...
11    <d:level_2_1 m:type="Edm.Decimal">543</d:level...
12    <d:level_2_2 m:type="Edm.Decimal">0.056</d:lev...
13    <d:level_3_1 m:type="Edm.Decimal">4128</d:leve...
14    <d:level_3_2 m:type="Edm.Decimal">0.423</d:lev...
15    <d:level_4_1 m:type="Edm.Decimal">4854</d:leve...
16    <d:level_4_2 m:type="Edm.Decimal">0.497</d:lev...
17    <d:level_3_4_1 m:type="Edm.Decimal">8982</d:le...
18    <d:level_3_4_2 m:type="Edm.Decimal">0.92</d:le...
19                                              <entry>
20    <id>https://data.cityofnewyork.us/OData.svc/82...
21                <d:__id m:type="Edm.Int64">2</d:__id>
22                                 <d:grade>4</d:grade>
23                                <d:year>2006</d:year>
24                       <d:category>Asian</d:category>
25    <d:number_tested m:type="Edm.Decimal">9973</d:...
26    <d:mean_scale_score m:type="Edm.Decimal">699</...
27    <d:level_1_1 m:type="Edm.Decimal">294</d:level...
28    <d:level_1_2 m:type="Edm.Decimal">0.029</d:lev...
29    <d:level_2_1 m:type="Edm.Decimal">600</d:level...
...                                                 ...
2995  <d:number_tested m:type="Edm.Decimal">9570</d:...
2996  <d:mean_scale_score m:type="Edm.Decimal">688</...
2997  <d:level_1_1 m:type="Edm.Decimal">433</d:level...
2998  <d:level_1_2 m:type="Edm.Decimal">0.045</d:lev...
2999  <d:level_2_1 m:type="Edm.Decimal">2190</d:leve...
3000  <d:level_2_2 m:type="Edm.Decimal">0.229</d:lev...
3001  <d:level_3_1 m:type="Edm.Decimal">4142</d:leve...
3002  <d:level_3_2 m:type="Edm.Decimal">0.433</d:lev...
3003  <d:level_4_1 m:type="Edm.Decimal">2805</d:leve...
3004  <d:level_4_2 m:type="Edm.Decimal">0.293</d:lev...
3005  <d:level_3_4_1 m:type="Edm.Decimal">6947</d:le...
3006  <d:level_3_4_2 m:type="Edm.Decimal">0.726</d:l...
3007                                            <entry>
3008  <id>https://data.cityofnewyork.us/OData.svc/82...
3009            <d:__id m:type="Edm.Int64">168</d:__id>
3010                      <d:grade>All Grades</d:grade>
3011                              <d:year>2011</d:year>
3012                     <d:category>White</d:category>
3013  <d:number_tested m:type="Edm.Decimal">62193</d...
3014  <d:mean_scale_score m:type="Edm.Decimal">695</...
3015  <d:level_1_1 m:type="Edm.Decimal">2418</d:leve...
3016  <d:level_1_2 m:type="Edm.Decimal">0.039</d:lev...
3017  <d:level_2_1 m:type="Edm.Decimal">11336</d:lev...
3018  <d:level_2_2 m:type="Edm.Decimal">0.182</d:lev...
3019  <d:level_3_1 m:type="Edm.Decimal">25191</d:lev...
3020  <d:level_3_2 m:type="Edm.Decimal">0.405</d:lev...
3021  <d:level_4_1 m:type="Edm.Decimal">23248</d:lev...
3022  <d:level_4_2 m:type="Edm.Decimal">0.374</d:lev...
3023  <d:level_3_4_1 m:type="Edm.Decimal">48439</d:l...
3024  <d:level_3_4_2 m:type="Edm.Decimal">0.779</d:l...

[3025 rows x 1 columns]